@font-face {
  font-family: "Gilroy";

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");

  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";

  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";

  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";

  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");

  font-weight: 300;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgb(0,0,0);
  font-weight: 300;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  display: block;
  width: 220px;
  height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  background-image: linear-gradient(180deg, transparent 15px, #f0c52e 15px, #f0c52e 23px, transparent 23px);
}

.button:hover {
  background-color: rgb(240, 197, 46);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgb(240, 197, 46);
}

.container {
  width: 1040px;
  margin: 0 auto;
}

.main-container {
  width: 1160px;
  margin: 0 auto;
}

/*Header*/

.page-header {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: content-box;
}

.page-header-inner {
  margin-bottom: 43px;
}

.container-header {
  background-image: linear-gradient(to bottom, transparent 41px,
   rgba(240, 197, 46, 0.5) 41px, rgba(240, 197, 46, 0.5) 186px);
}


.main-logo {
  margin-top: 23px;
}

.link-logo:hover {
  opacity: 0.6;
}

.link-logo:active {
  opacity: 0.3;
}

.list-menu {
  display: flex;
}

.list-menu,
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Поиск по сайту*/

.search-cite {
  color: rgb(0 0 0);
  background-color: transparent;
  border: none;
  border-bottom-color: #000000;
}

.search-cite::placeholder {
  color:rgba(0, 0, 0, 0.3);
}

.search-cite:hover::placeholder {
  color:rgba(0, 0, 0, 0.6);
}

.search-cite::placeholder {
  color:rgba(0, 0, 0, 0.3);
}

.search-cite:hover::placeholder {
  color:rgba(0, 0, 0, 0.6);
}

.search-cite:focus   {
  color: rgb(0 0 0);
  border-bottom: 2px solid rgb(0 0 0);
}

.search-elem {
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
}


.search-elem:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.search-elem:active {
  color: rgb(255, 255, 255, 0.3);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.link {
  color:inherit;
}

.active-enter {
  color: rgba(0, 0, 0, 0.3);
}

.login-header {
  color:inherit;
}

.link:hover {
  color: rgba(0, 0, 0, 0.6);
}


.link:active {
  color: rgba(0, 0, 0, 0.3);
}





/*Навигационное меню*/

.link-menu {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  font-weight: 800;
  text-transform: uppercase;
}


.link-menu:hover {
  color: rgba(0, 0, 0, 0.6);
}

.link-menu:active {
  color: rgba(0, 0, 0, 0.3);
}

/*слайдер*/

.slider {
  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 0.5) 113px, rgba(240, 197, 46, 0.5) 113px, transparent 113px, transparent 486px);
}

.slider-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
}

.slider-text {
  color: rgb(70, 70, 70);
}

.text-table dd {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.text-table dt {
  font-size: 13px;
  line-height: 20px;
}

/*Гаджеты*/

.list-gadjets {
  list-style: none;
}

.list-gadjets h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.list-gadjets a {
  background-color: rgba(240, 197, 46, 0.5);
}

.list-gadjets a:hover {
  background-color: rgb(240, 197, 46);
}

.gadjet-elem:active > .gadjet-active {
  color: rgba(0, 0, 0, 0.3);
}

/*Дополнительный слайдер*/

.second-slider {
  background-image: linear-gradient(180deg, transparent, transparent 100px, rgb(229, 229, 229) 100px, rgb(229, 229, 229) 288px);
}

.btn-delivery:active,
.btn-warranty:active,
.btn-сredit:active {
  color:rgb(247, 225, 132);
  background-image: none;
  background-color: rgb(0 0 0);
}

.title-delivery {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

/*Логотипы компаний*/

.list-company {
  list-style: none;
}

.company-elem a {
  opacity: 0.2;
}

/*Контакты*/

.title-contacts {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.list-contacts {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  list-style: none;
}

.contacts,
.about-us {
  width: 560px;
}

.about-us {
  margin-right: 20px;
}

.grid-contacts {
  display: flex;
  margin-bottom: 88px;
}

/*каталог*/

.title-show {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.filter-catalog-grid {
  display: flex;
}

.list-show {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-active-show {
  color: rgba(0, 0, 0, 0.3);
}

.link-show {
  color: rgba(0, 0, 0, 0.3);
}

.link-show:hover {
  color: rgba(0, 0, 0, 0.6);
}

.link-show:active {
  color: rgba(0, 0, 0, 0.1);
}

.list-catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 69px;
  list-style: none;
}

.list-catalog .catalog-elem {
  width: 360px;
  min-height: 495px;
  margin-bottom: 11px;
}

.list-catalog .catalog-elem:nth-child(2n) {
  margin-left: 40px;
  margin-right: 0;
}

.list-catalog .catalog-elem:nth-last-child(1),
.list-catalog .catalog-elem:nth-last-child(2) {
  margin-bottom: 0px;
}

.card {
  display: inline;
}

.main-catalog a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  font-weight: 800;
}

.main-catalog span {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(70, 70, 70);
  font-weight: 300;
}

/*Пагинация*/

.pagination {
  background-color: rgba(0, 0, 0, 0.08);
}

.list-pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-elem a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 800;
}

.pagination-elem a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-elem a:active {
  color: rgb(0, 0, 0);
}

.current-active a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-weight: 800;
}

.list-pagination .pagination-back,
.list-pagination .pagination-forward {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-weight: 800;
}

.list-pagination .pagination-back:hover,
.list-pagination .pagination-forward:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(217, 217, 217);

}

.list-pagination .pagination-back:active,
.list-pagination .pagination-forward:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgb(217, 217, 217);
}

/*фильтер и сортировка*/
.title-filter {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
  font-weight: 800;
  text-transform: uppercase;
}

.title-sort {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
}



.arrows,
.sort-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-elem a,
.sort-activ a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.sort-activ a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-activ a:active {
  color: rgb(0, 0, 0);
}

.filter-sort-grid {
  display: flex;
}

.filter-sort-catalog {
  background-image: linear-gradient(to right,rgb(219, 219, 219), rgb(219, 219, 219) 25%, rgb(235, 235, 235) 25%, rgb(235, 235, 235));
}

.filter-sort-grid .sort-container:first-child {
  width: 328px;
  height: 70px;
  padding-top: 20px;
  background-color: rgb(219, 219, 219);
}

.filter-sort-grid .sort-container:nth-child(2) {
  display: flex;
  flex-basis: center;
  align-items: center;
  width: 832px;
  height: 70px;
}

/*Фильтр*/

.filter-catalog-background {
  background-image: linear-gradient(to right, rgb(239, 239, 239), rgb(239, 239, 239) 25%, transparent 25%, transparent );
}

.filter {
  flex-shrink: 0;
  width: 328px;
  margin-right: 72px;
  background-color: rgb(239, 239, 239);
}

.filter fieldset {
  border: none;
  border-top: 2px solid rgb(0 0 0);
}

.filter legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  font-weight: 800;
}

.filter ul {
  list-style: none;
  font-size: 14px;
  line-height: 40px;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.25);
}

/*Сложный фильтр*/

.min-price,
.max-price {
  background-color: transparent;
  border: none;
}

/*Подвал*/

.page-footer {
  background-color: rgb(70, 70, 70);
}

.grid-footer {
  display: flex;
}

.elem-container {
  width: 340px;
  margin-right: 20px;
}

.elem-container:nth-child(3) {
  margin-right: 0;
}

.Services-social-container {
  width: 440px;
}

/*Логотип подвала*/
.main-logo {
  width: 163px;
  height: 35px;
}

.logo-footer {
  fill:rgb(255, 198, 0);
}

.logo-footer:hover {
  fill:rgba(255, 198, 0, 0.6);
}

.logo-footer:active {
  fill:rgba(255, 198, 0, 0.3);
}

.address,
.telefon-elem {
  color: rgb(255, 255, 255);
}

/*Навигационное меню подвала*/

.second-list,
.social-list,
.list-footer {
  list-style: none;
}

.elem-footer a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  text-transform: uppercase;
}

.elem-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.elem-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

/*Социальные сети*/

/*Дополнительное меню*/

.second-enter {
  color: rgba(255, 255, 255, 0.7);
}



.second-enter:hover {
  color: rgb(255, 255, 255);
}

.second-enter:active {
  color: rgba(255, 255, 255, 0.3);
}

.second-enter-active {
  color: rgba(255, 255, 255, 0.3);
}

.second-login-active {
  color: rgba(255, 255, 255, 0.7);
}

.modal {
  display:none;
}
