@font-face {
  font-family: "Gilroy";

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");

  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";

  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");

  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";

  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";

  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");

  font-weight: 300;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: rgb(0,0,0);
  font-weight: 300;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;

  height: 40px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  font-weight: 800;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  background-image: linear-gradient(180deg, transparent 15px,
     #f0c52e 15px, #f0c52e 23px, transparent 23px);
  border: none;
}

.button:hover {
  background-color: rgb(240, 197, 46);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: rgb(240, 197, 46);
}

.button.disabled,
.button:disabled {
background-color: #000000;
opacity: 0.5;

cursor: default;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

.main-container {
  width: 1160px;
  margin: 0 auto;
}

.padding-container {
  padding: 0 20px;
}

/*Шапка*/

.page-header {
  padding: 0 20px;
}

.container-header {
  min-height: 226px;

  background-image: linear-gradient(to bottom, transparent 40px,
   rgba(240, 197, 46, 0.5) 40px, rgba(240, 197, 46, 0.5));
}

.logo-device {
  font-size: 0;
}

.main-logo {
  margin-top: 22px;
  margin-bottom: 17px;
}

.inner-logo {
  margin-top: 22px;
  margin-bottom: 11px;
}

.link-logo {
  display: block;

  width: 163px;

  font-size: 0;
}

.link-logo:hover {
  opacity: 0.6;
}

.link-logo:active {
  opacity: 0.3;
}

.list-menu,
.nav-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-menu {
  display: flex;

  margin-bottom: 33px;
}

/*Поиск по сайту*/

.focus-search {
  position: relative;
}

.focus-search::before {
  content: "";
  position: absolute;

  top: 8px;
  left: 4px;
  width: 20px;
  height: 20px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-cite {
  width: 351px;
  height: 34px;
  padding-left: 40px;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

.search-grid {
  display: inline-block;

  margin-right: -4px;

  vertical-align: top;
}

.search-cite:focus {
  width: 351px;
  height: 34px;
  padding-left: 40px;
  padding-right: 36px;

  outline: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.search-cite::-webkit-input-placeholder {
  color:rgba(0, 0, 0, 0.3);
}

.search-cite::-moz-placeholder {
  color:rgba(0, 0, 0, 0.3);
}

.search-cite:-ms-input-placeholder {
  color:rgba(0, 0, 0, 0.3);
}

.search-cite::-ms-input-placeholder {
  color:rgba(0, 0, 0, 0.3);
}

.search-cite::placeholder {
  color:rgba(0, 0, 0, 0.3);
}

.search-cite:hover::-webkit-input-placeholder {
  color:rgba(0, 0, 0, 0.6);
}

.search-cite:hover::-moz-placeholder {
  color:rgba(0, 0, 0, 0.6);
}

.search-cite:hover:-ms-input-placeholder {
  color:rgba(0, 0, 0, 0.6);
}

.search-cite:hover::-ms-input-placeholder {
  color:rgba(0, 0, 0, 0.6);
}

.search-cite:hover::placeholder {
  color:rgba(0, 0, 0, 0.6);
}

.search-cite::-webkit-input-placeholder {
  color:rgba(0, 0, 0, 0.3);
}

.search-cite::-moz-placeholder {
  color:rgba(0, 0, 0, 0.3);
}

.search-cite:-ms-input-placeholder {
  color:rgba(0, 0, 0, 0.3);
}

.search-cite::-ms-input-placeholder {
  color:rgba(0, 0, 0, 0.3);
}

.search-cite::placeholder {
  color:rgba(0, 0, 0, 0.3);
}

.search-cite:hover::-webkit-input-placeholder {
  color:rgba(0, 0, 0, 0.6);
}

.search-cite:hover::-moz-placeholder {
  color:rgba(0, 0, 0, 0.6);
}

.search-cite:hover:-ms-input-placeholder {
  color:rgba(0, 0, 0, 0.6);
}

.search-cite:hover::-ms-input-placeholder {
  color:rgba(0, 0, 0, 0.6);
}

.search-cite:hover::placeholder {
  color:rgba(0, 0, 0, 0.6);
}

.search-elem {
  padding: 7px 20px 6px;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: 2px solid rgb(0, 0, 0);
}

.search-elem:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.search-elem:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(0, 0, 0);
}

.search-elem {
  visibility: hidden;
}

.search-elem:hover,
.search-elem:active,
.search-cite:focus + .search-elem {
  visibility: visible;
}

.elem-menu svg {
  margin-right: 10px;
}

.elem-menu:nth-child(3) svg {
  margin-right: 7px;
}

.elem-menu:nth-child(4) svg,
.elem-menu:nth-child(5) svg {
  margin-right: 7px;
}

.elem-menu .login-header {
  margin-left: 104px;

  word-spacing: 2px;
}

.login-header svg {
  margin-right: 8px;
}

.elem-menu .active-exit {
  margin-left: 20px;
}

.elem-menu .inner-compare {
  margin-left: 65px;
}

.elem-menu .enter {
  margin-left: 103px;
}

.elem-menu .compare {
  margin-left: 218px;
}

.elem-menu .cart {
  margin-left: 40px;
}

.link {
  color:inherit;
}

.active-exit {
  color: rgba(0, 0, 0, 0.3);
}

.login-header {
  color:inherit;
}

.link:hover {
  color: rgba(0, 0, 0, 0.6);

  opacity: 0.6;
}

.link:active {
  color: rgba(0, 0, 0, 0.3);

  opacity: 0.3;
}

/*Навигационное меню*/

.link-menu {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: inherit;
  font-weight: 800;
  letter-spacing: 4px;
  word-spacing: 2px;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
}

.nav-menu .catalog {
  position: relative;

  white-space: nowrap;
}

.nav-menu .catalog::after {
  content: "";
  position: absolute;

  top: 2px;
  right: -29px;
  width: 16px;
  height: 16px;

  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.nav-menu .delivery {
  margin-left: 323px;
}

.nav-menu .Guarantee {
  margin-left: 37px;
}

.nav-menu .menu-contacts {
  margin-left: 110px;
}

.link-menu:hover {
  color: rgba(0, 0, 0, 0.6);
}

.link-menu:active {
  color: rgba(0, 0, 0, 0.3);
}

/*Подменю*/

.nav-list .submenu {
  display: none;
  position: absolute;

  margin-left: -60px;
  width: 1160px;
  min-height: 129px;

  list-style: none;

  background-color: rgb(247, 226, 150);
  z-index: 2;
}

.nav-list > li:hover .submenu {
  display: block;
}

.submenu-grid > li {
  display: inline-block;

  margin-top: 30px;
  margin-bottom: 39px;
  margin-right: -4px;
  margin-right: 45px;
  margin-left: 20px;

  vertical-align: top;
}

.submenu-grid > li a {
  color: rgb(0, 0, 0);
}

.submenu-grid > li a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.submenu-grid > li a:active {
  color: rgba(0, 0, 0, 0.3);
}

.submenu ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

/*слайдер*/

.slider {
  position: relative;

  margin-bottom: 168px;
}

.content-article {
  padding-top: 79px;
}

.slider-container {
  background-image: linear-gradient(to bottom, rgba(240, 197, 46, 0.5),
   rgba(240, 197, 46, 0.5) 113px, transparent 113px, transparent);
}

.grid-slider {
  display: flex;
  justify-content: flex-end;

  padding-top: 3px;
  padding-right: 21px;
}

.slide-container {
  width: 510px;
  padding-left: 24px;
}

.slider-title {
  position: relative;

  width: 400px;
  margin: 0;
  padding: 0;
  margin-left: 7px;
  margin-bottom: 19px;

  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 1px;
  word-spacing: -3px;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;

  z-index: 1;
}

.slide-elem:nth-of-type(3) .slider-title {
  width: 513px;
}

.slider-title::before {
  content: "";
  position: absolute;

  top: -42px;
  width: 100px;
  height: 7px;

  border-top: 7px solid rgb(255, 255, 255);
}

.slider-title::after {
  content: "01";
  position: absolute;

  top: -32px;
  right: -93px;
  width: 166px;
  height: 131px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 180px;
  color: rgb(255, 255, 255);
}

.slide-elem:nth-child(2) .slider-title::after {
  content: "02";
  position: absolute;

  top: -32px;
  right: -71px;
  width: 166px;
  height: 131px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 180px;
  color: rgb(255, 255, 255);
}

.slide-elem:nth-child(3) .slider-title::after {
  content: "03";
  position: absolute;

  top: -32px;
  right: 44px;
  width: 166px;
  height: 131px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 180px;
  color: rgb(255, 255, 255);

  z-index: -1;
}

.slider-text {
  width: 480px;
  margin: 0;
  padding: 0;
  margin-left: 6px;
  margin-bottom: 44px;

  word-spacing: 1px;
  color: rgb(70, 70, 70);
}

.slide-elem:nth-of-type(2) .slider-text {
  padding-right: 40px;
}

.slide-elem:nth-of-type(3) .slider-text {
  padding-right: 20px;
}

.control-button-grid {
  display: inline-block;

  margin-right: -4px;
  margin-bottom: 49px;

  vertical-align: bottom;
}

.control-button-grid::nth-child(3) {
  margin-right: 0;
}

.btn-slider {
  width: 220px;
  margin-left: 7px;
  margin-right: 176px;
  padding-top: 7px;
  padding-left: 3px;
}

.text-table {
  width: 450px;
  margin-left: 5px;

  border-collapse: collapse;
}
.text-table td {
padding-bottom: 7px;
}
.text-table td:nth-child(1) {
  width: 100px;
}

.text-table td:nth-child(2) {
  width: 160px;
  padding-left: 66px;
}

.text-table td:nth-child(3) {
  width: 200px;
  padding-left: 49px;
}

.slide-elem-table:nth-of-type(3) td:nth-child(2) {
  width: 200px;
  padding-left: 11px;
}

.text-value td {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.text-product td {
  font-size: 13px;
  line-height: 20px;
}

.control-sliders label {
  position: relative;
  display: inline-block;

  width: 12px;
  height: 12px;
  margin-top: 3px;
  margin-right: -4px;
  margin-right: 17px;

  vertical-align: top;

  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.control-sliders label:nth-child(3) {
  margin-right: 0;
}

.slide-images img {
  position: absolute;

  width: 384px;
  margin-top: -80px;
  margin-left: -502px;
}

.slide-images img:nth-child(2) {
  width: 345px;
  margin: 0;
  margin-top: -69px;
  margin-left: -476px;
}

.slide-images img:nth-child(3) {
  width: 526px;
  margin-top: -16px;
  margin-left: -561px;
}

.slide-list,
.slide-list-table {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-picture,
.slide-elem,
.slide-elem-table {
  display: none;
}

#control-1:checked ~ .slide-list .slide-elem:nth-child(1),
#control-2:checked ~ .slide-list .slide-elem:nth-child(2),
#control-3:checked ~ .slide-list .slide-elem:nth-child(3),
#control-1:checked ~ .slide-list-table .slide-elem-table:nth-child(1),
#control-2:checked ~ .slide-list-table .slide-elem-table:nth-child(2),
#control-3:checked ~ .slide-list-table .slide-elem-table:nth-child(3),
#control-1:checked ~ .slide-images .slide-picture:nth-child(1),
#control-2:checked ~ .slide-images .slide-picture:nth-child(2),
#control-3:checked ~ .slide-images .slide-picture:nth-child(3) {
  display: block;
}

#control-1:checked ~ .control-sliders .slider-controls-item--1::before,
#control-2:checked ~ .control-sliders .slider-controls-item--2::before,
#control-3:checked ~ .control-sliders .slider-controls-item--3::before {
  content: "";
  position: absolute;

  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

/*Гаджеты*/

.gadgets {
  margin-bottom: 21px;
}

.list-gadgets {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.gadget-elem {
  width: 160px;
  min-height: 240px;
  margin-right: 40px;
}

.gadget-elem:nth-child(6n) {
  margin-right: 0;
}

.gadget-content {
  position: relative;

  font-size: 0;
}

.gadget-content::before {
  content: "";
  position: absolute;

  top: 51px;
  left: 31px;
  width: 97px;
  height: 55px;

  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gadget-elem:nth-child(2) .gadget-content::before {
  content: "";
  position: absolute;

  top: 40px;
  left: 38px;
  width: 86px;
  height: 117px;

  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gadget-elem:nth-child(3) .gadget-content::before {
  content: "";
  position: absolute;

  top: 37px;
  left: 49px;
  width: 71px;
  height: 87px;

  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gadget-elem:nth-child(4) .gadget-content::before {
  content: "";
  position: absolute;

  top: 49px;
  left: 29px;
  width: 107px;
  height: 65px;

  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gadget-elem:nth-child(5) .gadget-content::before {
  content: "";
  position: absolute;

  top: 31px;
  left: 56px;
  width: 56px;
  height: 98px;

  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gadget-elem:nth-child(6) .gadget-content::before {
  content: "";
  position: absolute;

  top: 48px;
  left: 13px;
  width: 132px;
  height: 69px;

  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.list-gadgets h3 {
  margin: 0;
  padding: 0;
  margin-top: 97px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0px;
}

.gadget-elem:nth-child(2) h3 {
  width: 100px;
}

.list-gadgets .gadget-content {
  padding: 80px;

  background-color: rgba(240, 197, 46, 0.5);
}

.list-gadgets a:hover {
  background-color: rgb(240, 197, 46);
}

.gadget-content:active::before {
  opacity: 0.3;
}

.gadget-content:active + .gadget-active {
  color: rgba(0, 0, 0, 0.3);
}

/*Дополнительный слайдер*/

.second-slider {
  margin-bottom: 94px;
}

.background-second-slider {
  min-height: 388px;

  background-image: linear-gradient(180deg, transparent,
   transparent 100px, rgb(229, 229, 229) 100px, rgb(229, 229, 229) 388px);
}

.content-services {
  display: flex;
}

.list-second-slide {
  margin: 0;
  padding: 0;

  list-style: none;
}

.title-second-slide {
  position: relative;

  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 1px;
}

.elem-second-slide p {
  width: 460px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  word-spacing: 1px;
}

.elem-second-slide:nth-child(2) p {
  width: 464px;
}

.elem-second-slide:nth-child(3) p {
  width: 434px;
}

.elem-second-slide .title-second-slide::after {
  content: "";
  position: absolute;

  top: 11px;
  right: -234px;
  width: 136px;
  height: 164px;

  background-image: url("../img/service-delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.elem-second-slide:nth-of-type(2) .title-second-slide::after {
  content: "";
  position: absolute;

  top: -13px;
  right: -250px;
  width: 171px;
  height: 195px;

  background-image: url("../img/service-warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.elem-second-slide:nth-of-type(3) .title-second-slide::after {
  content: "";
  position: absolute;

  top: -14px;
  right: -255px;
  width: 156px;
  height: 188px;

  background-image: url("../img/service-credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.elem-second-slide {
  display: none;

  padding-top: 74px;
}

#delivery:checked ~ .list-second-slide .elem-second-slide:nth-child(1),
#warranty:checked ~ .list-second-slide .elem-second-slide:nth-child(2),
#сredit:checked ~ .list-second-slide .elem-second-slide:nth-child(3) {
  display: block;
}

.buttons-container {
  display: flex;
  flex-direction: column;

  min-height: 319px;
  padding-top: 80px;
  margin-right: 116px;
  margin-bottom: 69px;
  border-right: 7px solid rgb(0, 0, 0);
}

.buttons-container .button {
  width: 160px;
  margin-right: 118px;
  margin-bottom: 25px;
  padding-top: 8px;
  padding-left: 5px;

  text-align: center;
}

.buttons-container .button:hover,
.buttons-container .button:active {
  color: rgb(0, 0, 0);

  background-color: rgb(240, 197, 46);
}

#delivery:checked ~ .buttons-container label[for="delivery"],
#warranty:checked ~ .buttons-container label[for="warranty"],
#сredit:checked ~ .buttons-container label[for="сredit"] {
  margin-right: 0;
  padding-left: 20px;
  padding-right: 258px;

  color:rgb(247, 225, 132);
  text-align: center;

  background-image: none;
  background-color: rgb(0, 0, 0);
}

#warranty:checked ~ .buttons-container label[for="warranty"] {
  padding-left: 24px;
  padding-right: 254px;
}

#сredit:checked ~ .buttons-container label[for="сredit"] {
  padding-right: 242px;
  padding-left: 36px;
}

/*Логотипы компаний*/

.company {
  margin-bottom: 93px;
}

.list-company {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.company-elem {
  width: 260px;
  min-height: 100px;
  margin-right: 40px;
}

.company-elem:nth-child(4) {
  margin-right: 0;
}

.company-elem a {
  position: relative;
}

.company-elem a:hover::before {
  content: "";
  position: absolute;

  width: 260px;
  height: 100px;

  background-image: url("../img/logo-dj.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.company-elem:nth-child(2) a:hover::before {
  content: "";
  position: absolute;

  width: 260px;
  height: 100px;

  background-image: url("../img/logo-spgadgets.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.company-elem:nth-child(3) a:hover::before {
  content: "";
  position: absolute;

  width: 260px;
  height: 100px;

  background-image: url("../img/logo-gopro.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.company-elem:nth-child(4) a:hover::before {
  content: "";
  position: absolute;

  width: 260px;
  height: 100px;

  background-image: url("../img/logo-vive.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.company-elem a {
  opacity: 0.2;
}

.company-elem a:hover {
  opacity: 1;
}

/*Контакты*/

.contacts,
.about-us {
  width: 560px;
  padding-top: 44px;
}

.about-us {
  margin-right: 40px;
}

.grid-contacts {
  display: flex;

  margin-bottom: 81px;
}

.title-contacts {
  position: relative;

  margin: 0;
  padding: 0;
  margin-bottom: 42px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.title-contacts::before {
  content: "";
  position: absolute;

  top: -53px;
  width: 80px;
  height: 7px;

  border-top: 7px solid rgb(0, 0, 0);
}

.about-us .text-contacts {
  width: 470px;
  margin: 0;
  padding: 0;
  margin-bottom: 66px;

  word-spacing: -1px;
}

.about-us .text-contacts:nth-child(2) {
  width: 450px;
  margin-bottom: 30px;

  word-spacing: 1px;
}

.list-contacts {
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
  padding-left: 37px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  list-style: none;
}

.elem-contacts {
  position: relative;
}

.elem-contacts::before {
  content: "";
  position: absolute;

  top: 16px;
  left: -35px;
  width: 8px;
  height: 8px;

  border-radius: 50%;
  border: 2px solid rgb(229, 229, 229);
}

.btn-about-us {
  width: 260px;
  padding-top: 7px;
  padding-left: 5px;
}

.contacts .text-contacts {
  margin-bottom: 39px;
}

.map {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.btn-contacts {
  width: 260px;
  padding-left: 11px;
}

/*каталог*/

.title-show {
  margin: 0;
  padding: 0;
  margin-top: 38px;
  margin-bottom: 19px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  word-spacing: 4px;
}

.filter-catalog-grid {
  display: flex;
}

.list-show {
  display: flex;

  margin: 0;
  padding: 0;
  margin-bottom: 44px;

  list-style: none;
}

.elem-show {
  margin-right: 40px;

  letter-spacing: -1px;
  word-spacing: 7px;
}

.pictures-arrows {
  position: relative;
}

.pictures-arrows::after {
  content: "";
  position: absolute;

  top: 13px;
  left: 69px;
  width: 6px;
  height: 9px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pictures-arrows:nth-child(2)::after {
  content: "";
  position: absolute;

  top: 13px;
  left: 130px;
  width: 6px;
  height: 9px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.link-active-show {
  color: rgba(0, 0, 0, 0.3);
}

.link-show {
  color: rgba(0, 0, 0, 0.3);
}

.link-show:hover {
  color: rgba(0, 0, 0, 0.6);
}

.link-show:active {
  color: rgba(0, 0, 0, 0.1);
}

.list-catalog {
  display: flex;
  flex-wrap: wrap;

  width: 760px;
  margin: 0;
  padding: 0;
  margin-top: 69px;

  list-style: none;
}

.list-catalog .catalog-elem {
  position: relative;

  width: 360px;
  min-height: 495px;
  margin-bottom: 11px;
}

.catalog-elem .check {
  visibility: hidden;
  position: absolute;

  top: 29px;
  right: 27px;
  width: 60px;
  height: 60px;
  padding-top: 16px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.catalog-elem:nth-child(4) .check {
  visibility: visible;
}

.list-catalog .catalog-elem:nth-child(2n) {
  margin-left: 40px;
  margin-right: 0;
}

.list-catalog .catalog-elem:nth-last-child(1),
.list-catalog .catalog-elem:nth-last-child(2) {
  margin-bottom: 0;
}

.catalog-elem img {
  margin-bottom: 23px;
}

.product-card {
  position: absolute;

  top: 0px;
  width: 360px;
  min-height: 379px;
  padding-top: 169px;

  text-align: center;

  background-color: rgba(238, 238, 238, 0);
  opacity: 0;

  cursor: pointer;
  z-index: 1;
}

.product-card:hover {
  background-color: rgba(238, 238, 238, 0.7);
  opacity: 1;
}

.btn-product-card {
  width: 200px;
  padding-top: 7px;
  margin-left: 80px;
  margin-bottom: 9px;
}

.product-card .compare-product-card {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

.product-card .compare-product-card:hover {
  color: rgb(0, 0, 0);
}

.product-card .compare-product-card:active {
  color: rgba(0, 0, 0, 0.2);
}

.card {
  display: flex;
  justify-content: space-between;
}

.main-catalog a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  font-weight: 800;
  word-spacing: 3px;
}

.catalog-elem h3 {
  margin: 0;
  padding: 0;
}

.catalog-elem:nth-child(2) h3 {
  width: 180px;
}

.catalog-elem:nth-child(4) h3 {
  width: 230px;
}

.main-catalog span {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(70, 70, 70);
  font-weight: 300;
}

/*Пагинация*/

.pagination {
  margin-bottom: 77px;
  background-color: rgba(0, 0, 0, 0.08);
}

.list-pagination {
  display: flex;
  justify-content: space-between;

  min-height: 70px;
  margin: 0;
  padding: 0;
  padding-top: 20px;

  list-style: none;
}

.number-submenu {
  display: flex;

  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-left: 10px;

  list-style: none;
}

.number-submenu  li{
  margin-right: 32px;
}

.number-submenu  li:last-child {
  margin-right: 0;
}

.pagination-elem a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 800;
  text-transform: uppercase;
}

.pagination-elem a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-elem a:active {
  color: rgb(0, 0, 0);
}

.current-active a,
.current-active a:hover,
.current-active a:active {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-weight: 800;
}

.list-pagination .pagination-back,
.list-pagination .pagination-forward {
  width: 126px;
  padding: 25px 30px 25px 30px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  font-weight: 800;
  text-align: center;
  letter-spacing: 3px;
}

.list-pagination .pagination-back:hover,
.list-pagination .pagination-forward:hover {
  color: rgb(0, 0, 0);

  background-color: rgb(217, 217, 217);
}

.list-pagination .pagination-back:active,
.list-pagination .pagination-forward:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: rgb(217, 217, 217);
}

/*фильтр и сортировка*/

.filter-sort-grid {
  display: flex;
}

.filter-sort-catalog {
  background-image: linear-gradient(to right,rgb(219, 219, 219),
   rgb(219, 219, 219) 25%, rgb(235, 235, 235) 25%, rgb(235, 235, 235));
}

.filter-sort-grid .sort-container:first-child {
  width: 328px;
  min-height: 70px;
  padding-top: 23px;
  padding-left: 60px;

  background-color: rgb(219, 219, 219);
}

.filter-sort-grid .sort-container:nth-child(2) {
  display: flex;
  align-items: center;

  width: 832px;
  min-height: 70px;
}

.title-sort,
.title-filter {
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.arrows,
.sort-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  padding-top: 1px;

  list-style: none;
}

.sort-list {
  align-self: flex-start;
  padding-top: 18px;
}

.sort-elem a,
.sort-activ a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.sort-elem a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-elem a:active {
  color: rgb(0, 0, 0);
}

.sort-activ a,
.sort-activ a:hover,
.sort-activ a:active {
  color: rgb(0, 0, 0);
}

.sort-elem a {
  margin-right: 28px;
}

.sort-elem:nth-child(2) a {
  margin-right: 31px;
}

.sort-elem:nth-child(3) a {
  margin-right: 0;
}

.title-sort {
  margin-left: 71px;
  margin-right: 48px;
}

.arrows {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 25px;
  margin-left: 231px;
}

.arrows-elem {
  width: 10px;
  margin-right: 20px;
}

.arrows-elem:nth-child(2) {
  margin-right: 0;
}

.arrows-elem.arrows-up a,
.arrows-elem.arrows-down a {
  position: relative;

  font-size: 0;
}

.arrows-up a::before {
  content: "";
  position: absolute;

  width: 10px;
  height: 11px;

  background-image: url("../img/icon-up-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.arrows-down a::before {
  content: "";
  position: absolute;

  width: 10px;
  height: 11px;

  background-image: url("../img/icon-down-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.arrows-up a::before {
  opacity: 0.2;
}

.arrows-up a:hover::before {
  opacity: 0.4;
}

.arrows-down a::before,
.arrows-up a:active::before {
  opacity: 1;
}

/*Сложный фильтр*/

.min-price,
.max-price {
  background-color: transparent;
  border: none;
}

.price-controls {
  display: flex;
}

.price-controls .price {
  margin-right: 12px;
}

.price {
  width: 60px;
  height: 25px;
}

.price-controls input[type = "number"]::-webkit-input-placeholder {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  font-weight: 300;
}

.price-controls input[type = "number"]::-moz-placeholder {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  font-weight: 300;
}

.price-controls input[type = "number"]:-ms-input-placeholder {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  font-weight: 300;
}

.price-controls input[type = "number"]::-ms-input-placeholder {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  font-weight: 300;
}

.price-controls input[type = "number"]::placeholder,
.price-controls label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  font-weight: 300;
}

.range-controls {
  position: relative;

  margin-top: 34px;
  margin-bottom: 10px;
}

.range-controls .scale {
  height: 2px;

  background-color: rgb(219, 219, 219);
}

.range-controls .bar {
  width: 53%;
  height: 2px;

  background-color: rgb(145, 201, 47);
}

.toggle {
  position: absolute;

  top: -9px;
  width: 20px;
  height: 20px;

  background-color: rgb(171, 171, 171);
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  cursor: pointer;
}

.min-toggle {
  left: -3%;
}

.max-toggle {
  left: 53%;
}

.toggle:hover {
  width: 22px;
  height: 22px;

  box-shadow: 0 3px 1px 0 rgba(0, 1, 1, 0.2);
}

/*Фильтр*/

.filter-catalog-background {
  background-image: linear-gradient(to right, rgb(239, 239, 239),
   rgb(239, 239, 239) 25%, transparent 25%, transparent );
}

.filter {
  flex-shrink: 0;

  width: 328px;
  margin-right: 72px;

  background-color: rgb(239, 239, 239);
}

.filter fieldset {
  width: 201px;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  margin-top: 69px;

  border: none;
}

.filter fieldset:nth-child(2) {
  margin-top: 33px;
}

.filter fieldset:nth-child(3) {
  margin-top: 32px;
}

.filter legend {
  display: block;

  width: 100%;
  padding-top: 10px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
  font-weight: 800;

  border-top: 2px solid rgb(0, 0, 0);
}

.filter ul {
  margin: 0;
  padding: 0;
  margin-top: 17px;
  padding-left: 38px;

  font-size: 14px;
  line-height: 40px;
  list-style: none;
}

.filter-input-checkbox:checked + label {
  position: relative;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;

  width: 27px;
  height: 23px;

  background-image: url("../img/icon-checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label {
  position: relative;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;

  top: -1px;
  left: -40px;
  width: 23px;
  height: 23px;

  background-image: url("../img/icon-checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label {
  position: relative;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -40px;
  width: 25px;
  height: 25px;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.filter-input-radio:checked + label {
  position: relative;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;

  top: 0px;
  left: -36px;
  width: 17px;
  height: 17px;

  background-color: rgb(0, 0, 0);
  border: 4px solid rgb(239, 239, 239);
  border-radius: 50%;
}

.filter-input-radio:checked + label:hover::after,
.filter-input-radio + label:hover::before,
.filter-input-checkbox + label:hover::before {
  opacity: 0.6;
}

.filter-input-radio:disabled + label::after,
.filter-input-radio:disabled + label::before,
.filter-input-checkbox:disabled + label::before {
  opacity: 0.25;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.25);
}

.filter-button {
  width: 200px;
  margin-top: 32px;
  margin-left: 59px;
}

/*Подвал*/

.page-footer {
  padding: 0 20px;
  min-height: 323px;

  background-color: rgb(70, 70, 70);
}

.grid-footer {
  display: flex;
}

.elem-container {
  width: 360px;
}

.elem-container:nth-child(1) {
  padding-top: 43px;
}

.elem-container:nth-child(3) {
  margin-right: 0;
}

.Services-social-container {
  width: 440px;
}

/*Логотип подвала*/
.main-logo {
  width: 163px;
  height: 35px;
}

.logo-footer {
  fill:rgb(255, 198, 0);
}

.logo-footer:hover {
  fill:rgba(255, 198, 0, 0.6);
}

.logo-footer:active {
  fill:rgba(255, 198, 0, 0.3);
}

.address,
.telefon-elem {
  color: rgb(255, 255, 255);
}

.elem-container .main-logo {
  margin-bottom: 15px;
}

.elem-container .address {
  position: relative;

  margin: 0;
  padding: 0;
}

.elem-container .address::before {
  content: "";
  position: absolute;

  top: 107px;
  left: 0;
  width: 80px;
  height: 7px;

  border-top: 7px solid rgb(255, 198, 0);
}

/*Навигационное меню подвала*/

.second-list,
.social-list,
.list-footer {
  margin: 0;
  padding: 0;

  list-style: none;
}

.elem-footer a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.elem-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.elem-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.list-footer {
  display: flex;

  padding-top: 134px;
  padding-left: 6px;
  margin-bottom: 59px;
}

.elem-footer {
  margin-right: 30px;
}

.elem-footer:nth-child(3) {
  margin-right: 0;
}

/*Социальные сети*/

.social-list {
  display: flex;
  flex-wrap: wrap;

  padding-left: 150px;
}

.social-elem {
  margin-right: 22px;
  margin-bottom: 22px;
}

.social-elem:nth-child(3) {
  margin-right: 0;
}

.social-facebook,
.social-instagram,
.social-twitter {
  opacity: 0.3;
}

.social-facebook:hover,
.social-instagram:hover,
.social-twitter:hover {
  opacity: 0.6;
}

.social-facebook:active,
.social-instagram:active,
.social-twitter:active {
  opacity: 0.1;
}

/*Дополнительное меню*/

.second-enter {
  color: rgba(255, 255, 255, 0.7);

  fill: rgb(255, 198, 0);
}

.second-login-active {
  fill: rgb(255, 198, 0);
}

.second-enter:hover {
  color: rgb(255, 255, 255);

  fill-opacity: 0.6;
}

.second-enter:active {
  color: rgba(255, 255, 255, 0.3);
  fill-opacity: 0.3;
}

.second-enter-active {
  color: rgba(255, 255, 255, 0.3);
}

.second-login-active {
  color: rgba(255, 255, 255, 0.7);
  word-spacing: 2px;
}

.second-list {
  display: flex;
  position: relative;

  padding-top: 63px;
  padding-left: 0;
  margin-bottom: 38px;
}

.second-active-elem {
  position: absolute;

  top: 63px;
  left: -118px;
}

.second-active-elem svg {
  margin-right: 7px;
}

.second-elem {
  position: relative;

  margin-right: 0;
}

.second-elem:nth-child(3) a {
  margin-right: 0;
}

.second-elem .second-enter {
  margin-left: 35px;
}

.second-elem .second-compare {
  margin-left: 43px;
}

.second-elem .second-cart {
  margin-left: 41px;
}

.second-elem svg {
  margin-right: 10px;

}

.second-elem:nth-child(2) svg {
  margin-right: 7px;
}

.second-elem:nth-child(3) svg,
.second-elem:nth-child(4) svg {
  margin-right: 7px;
}

.second-enter-active {
  margin-left: 60px;
}

.telefon {
  margin-left: 197px;
  margin-bottom: 61px;

  word-spacing: 1px;
  white-space: nowrap;
}

.logo-htmlacademy {
  margin-left: 334px;
}

.htmlacademy-image {
  position: relative;

  font-size: 0;
}

.htmlacademy-image::before {
  content: "";
  position: absolute;

  width: 27px;
  height: 35px;

  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.htmlacademy-image:hover::before {
  opacity: 0.6;
}

.htmlacademy-image:active::before {
  opacity: 0.3;
}

/*Модальное окно*/

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
  display: none;
  position: fixed;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 100px 20px rgba(0, 0, 0, 0.2);

  z-index: 20;
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-login {
  top: 50%;
  left: 50%;
  width: 960px;
  min-height: 533px;
  margin-top: -280px;
  margin-left: -480px;
  padding: 78px 100px 94px;
}

.modal-login form {
  display: flex;
  flex-wrap: wrap;
}

.modal-login p {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.modal-login label {
  margin-bottom: 10px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.modal-login input[type = "text"],
.modal-login input[type = "email"] {
  display: inline-block;
  width: 360px;
  height: 50px;
  margin-bottom: 33px;
  padding-top: 15px;
  padding-bottom: 19px;
  padding-left: 20px;
  vertical-align: middle;
  font: inherit;
  color: inherit;

  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

input[type = "text"] {
  margin-right: 40px;
}

.modal-form-textarea textarea {
  width: 760px;
  min-height: 156px;
  margin-bottom: 41px;
  padding-top: 15px;
  padding-left: 20px;

  font: inherit;
  color: inherit;

  background-color: rgba(229, 229, 229, 0.5);
  border: none;
}

.modal-login input::-webkit-input-placeholder,
.modal-form-textarea textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.modal-login input::-moz-placeholder,
.modal-form-textarea textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.modal-login input:-ms-input-placeholder,
.modal-form-textarea textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.modal-login input::-ms-input-placeholder,
.modal-form-textarea textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.modal-login input::placeholder,
.modal-form-textarea textarea::placeholder {
  padding-top: 16px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.modal-login input[type = "text"]:hover,
.modal-login input[type = "email"]:hover,
.modal-form-textarea textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.modal-login input[type = "text"]:focus,
.modal-login input[type = "email"]:focus,
.modal-form-textarea textarea:focus {
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid rgb(247, 226, 150);
}

.btn-size {
  width: 200px;
}

.close-modal {
  position: absolute;

  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;

  font-size: 0;

  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: none;
  opacity: 0.5;

  cursor: pointer;
  z-index: 21;
}

.close-modal:hover {
  opacity: 1;
}

.close-modal:active {
  opacity: 0.3;
}

.modal-map {
  top: 50%;
  left: 50%;
  width: 960px;
  height: 559px;
  margin-top: -280px;
  margin-left: -480px;

  background-color: rgb(233, 233, 233);
}

.modal-map iframe {
  position: relative;

  z-index: 2;
}

.modal-map img {
  position: absolute;

  top: 0;
  left: 0;

  z-index: 1;
}
